<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Bestラーメンランキング〜投票ログイン〜</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <script th:src="@{/js/closure-library/closure/goog/base.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/login.js}" defer></script>
</head>
<body>
    <main id="main-element">
        <span class="text-login catch-message">投票するにはログインが必要です。</span>
        <form action="/login">
            <label>メールアドレス</label>
            <input name="email" type="email" required>
            <label>パスワード</label>
            <input name="password" type="password" required>
            <input type="submit" value="ログイン">
        </form>
        <button onclick="location.href='/signup'">アカウント作成</button>
        <span class="text-login">
            本サービスは、一人一票だけ投票ができるように、あなたのGoogleアカウントの
            メールアドレスのみを取得し、投票結果と関連付けて保存します。
        </span>
    </main>
</body>
</html>